body{
	background-color: #1e1e1e;
	color: #eeeeee;
}
#darkmodeSwitch {
	color: white;
}

.c3-axis path, .c3-axis line {
	stroke: #eeeeee;
}
.c3-legend-item {
	fill: #eeeeee;
}
.c3-axis .tick {
	fill: #eeeeee;
}
.c3-tooltip th, .c3-tooltip td {
	color: #eeeeee;
	background-color: #1e1e1e;
}
.c3-legend-background {
	fill: #1e1e1e;
	stroke-width: 0;
}
