body {
	font-family: Hack, monospace;
	line-height: 1.6;
}
main {
	max-width: 85%;
	padding: 2ch;
	margin: 0 auto;
	text-align: center;
}
h1::before {
	content: '# ';
}
h2::before {
	content: '## ';
}
a {
	color: #569cd6;
	text-decoration: none;
}
.c3-axis-x g.tick:last-of-type text {
    transform:translateX(-30px)
}
.c3-axis-x g.tick:first-of-type text {
    transform:translateX(30px)
}
g text {
	font-size: 1.3em;
}
.c3-line {
	stroke-width: 3px;
}
.c3-legend-background {
	fill: white;
}
.c3-tooltip {
	box-shadow: none;
}

#darkmodeSwitch {
	color: #1e1e1e;
}
#darkmodeSwitch:hover {
	text-decoration: underline;
}
